span.md {
  font-size: 16px;
  width: fit-content;
  white-space: nowrap;
}

span.lg {
  font-size: 18px;
  width: fit-content;
  white-space: nowrap;
}

span.sm {
  font-size: 14px;
  width: fit-content;
  white-space: nowrap;
}

.button {
  border-radius: 7px !important;
  background-color: '#bbdeee' !important;
}
