span.md {
  font-size: 1.6rem;
  width: fit-content;
  white-space: nowrap;
}

span.lg {
  font-size: 1.8rem;
  width: fit-content;
  white-space: nowrap;
}

span.sm {
  font-size: 1.4rem;
  width: fit-content;
  white-space: nowrap;
}

.button {
  border-radius: 7px !important;
  margin-bottom: 8px;
}

.leftIcon {
  margin-right: 8px;
}
