.modal-wrapper {
  position: relative;
}

.modal-content {
  padding-top: 48px;
  padding-bottom: 20px;
  text-align: center;
}

.modal-class-title {
  position: absolute;
  top: 13px;
  left: 12px;
}

.line-break {
  height: 2px;
  background: linear-gradient(135deg, #b9d1e9, #1976d2);
}

.modal-icon-close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-icon-close::before {
  position: absolute;
  display: block;
  content: '';
  width: 56px;
  height: 56px;
  top: -8px;
  left: -10px;
  cursor: pointer;
  z-index: 1;
}

.content-file-upload-wrapper {
  padding: 30px;
}

.content-file-upload {
  border-radius: 5px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.3),
    0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 18px;
}

.upload-file-title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    height: 3px;
    width: 220px;
    border-radius: 5px;
    background: linear-gradient(135deg, #b9d1e9, #1976d2);
  }
}

.upload-file-btn {
  background-color: #56b1da;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
}
